$primary-font:  'Montserrat', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$logo-font:  'Aclonica', sans-serif;
$extra-font: 'Fruktur', cursive;
$logo-color: #C58D8D;
$headerFooterBg: #1F1F1F;
$bodyBgLight: #FDEEEE;
$bodyBgDark: #545454;
$footerBg: #1F1F1F;
$offCanvasBg: #D8D0D0;
$fontDark: #393030;
$font-12: 0.75rem;
$font-13: 0.8125rem;
$font-14: 0.875rem;
$font-15: 0.9375rem;
$font-17: 1.0625rem;
$font-18: 1.125rem;
$font-19: 1.185rem;
$font-20: 1.25rem;