@import "./partials/variables";
@import "./partials/mixins";
@import "./partials/header";
@import "./partials/main";
@import "./partials/footer";

body {
    font-family: $primary-font;
    height: 2000px;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

.hidden {
    display: none;
}

.active-nav {
    position: relative;

    &::after {
        position: absolute;
        content: "";
        height: 4px;
        width: 100%;
        background-color: #C58D8D;
        top: 27px;
        left: 47px;
    }
}